@media screen and (max-width: 500px) {
  .sidenav--open {
    padding-top: 15px;
    width: 170px;
  }

  .sidenav_list-item-link {
    font-size: 15px;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1em;
    padding: 20px;
  }

}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .card-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}

@media screen and (min-width: 769px) {
  .card-wrapper {
    display: grid;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 20px;
  }

  .hamburger-container {
    display: none;
  }
}

@media screen and (max-width: 966px) {
  .logo {
    padding: 35px;
  }
}

@media screen and (max-width: 768px) {
  .navbar__list {
    opacity: 0;
    display: none;
  }

  .logo {
    padding: 0;
  }

  .banner {
    background-color: #CEB172;
    padding: 0;
    box-shadow: 0 1px #666;
  }

  .hamburger-container {
    display: block;
    float: right;
    padding: 35px;
  }

  .hamburger {
    width: 20px;
    height: 20px;
    display: block;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }

  .hamburger.no-hamburger {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .bun,
  .meat {
    display: block;
    width: 100%;
    background: #000;
    height: 20%;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    border-radius: 50px;
  }

  .no-hamburger .top {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: 50px 50px 0 0;
  }

  .no-hamburger .bottom {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: 0 0 50px 50px;
  }

  .meat {
    margin: 20% 0;
  }
  .no-hamburger .meat {
    margin: 2% 0;
  }

}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* a:focus {
  outline: #BE1621 solid 1px;
} */

a {
  cursor: pointer;
}

header, section, footer,
nav, article, figure {
  display: block;
}

body {
  font-size: 16px;
  color: #333;
  background: #fff;
  margin: 0;
}

h1 {
  font-family: 'Ledger', 'serif';
  font-weight: normal;
  font-size: 32px;
  color: #333;
}

[class^='col-'] {
  float: left;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333%;
}

.col-8 {
  width: 66.6666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333%;
}

.col-11 {
  width: 91.6666%;
}

.col-12 {
  width: 100%;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container--center {
  text-align: center;
}

.section {
  margin-top: 100px;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 1;
}

.section-aside {
  padding: 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #CEB172;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav--open {
  width: 250px;
  background-color: #F1F1F1;
}

.sidenav_list {
  padding: 0;
  font-family: 'Calibri';
  font-size: 22px;
  list-style: none;
}

.sidenav_list-item {
  display: block;
}

.sidenav_list-item:hover {
  background: #9B7625;
}

.sidenav_list-item:hover .sidenav_list-item-link {
  color: #FFF;
}

.sidenav_list-item--hide {
  display: none;
}

.sidenav_list-item-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.banner {
  background-color: #CEB172;
  box-shadow: 0 1px #666;
}

.navbar__list {
  margin-top: 15px;
  padding: 0;
  font-family: 'Calibri';
  font-size: 22px;
  list-style: none;
}

.navbar__list-item {
  display: inline-block;
  padding: 20px;
}

.navbar__list-item:nth-child(1):hover {
  background: #9B7625;
  border-top-left-radius: 50%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 50%;
  cursor: pointer;
}

.navbar__list-item:not(:nth-child(1)):hover {
  background: #9B7625;
  border-top-left-radius: 35%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 35%;
  cursor: pointer;
}

.navbar__list-item:hover .navbar__list-item-link {
  color: #FFF;
}

.navbar__list-item-link {
  text-decoration: none;
  color: #000;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 35px;
    margin-bottom: 60px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

.card-panel {
  font-family: 'Ubuntu', sans-serif;
  border: 1px solid #ceb172;
  border-radius: 20px;
  padding: 1em;
  box-sizing: border-box;
}

.card-panel--custom-hover:hover {
  border: 2px solid #9B7625;
}

.card-panel--custom-border {
  border-top: none;
  border-bottom: none;
}

.card-panel__figure {
  margin: 0;
}

.card-panel__heading {
  font-size: 26px;
  font-weight: normal;
  font-family: 'Ledger', 'serif';
}

.card-panel__paragraph {
  text-transform: uppercase;
  margin-top: 5px;
  padding-bottom: 0;
  text-align: center;
  font-family: 'Ledger', 'serif';
  font-size: 15px;
  color: #afa895;
}

.card-panel__link {
  text-decoration: none;
  color: #ceb172;
  font-family: 'Ledger', 'serif';
  font-style: italic;
}

.card-panel-link__icon {
  margin-left: 10px;
}

.card-details-panel {
  border-bottom: 1px solid #ceb172;
  border-left: 1px solid #ceb172;
  border-right: 1px solid #ceb172;
  font-family: 'Ubuntu', sans-serif;
}

.card-details-panel:first-of-type {
  border-top: 1px solid #ceb172;
}

.card-details-panel__paragraph {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-bottom: 0;
  text-align: left;
  font-family: 'Ledger', 'serif';
  font-size: 15px;
  color: #afa895;
  padding-right: 15px;
  padding-bottom: 15px;
}

.footer {
  background-color: #CEB172;
  box-shadow: 0 -1px #666;
  margin-top: 80px;
  padding: 30px;
}

.footer__linkList,
.footer__addressesList {
  list-style: none;
  padding: 0;
}

.footer__listItem {
  font-size: 30px;
}

.footer__linkItem:visited,
.footer__linkItem:link {
  text-decoration: none;
  color: inherit;
}

.footer__linkItem:hover {
  zoom: 140%;
}

.footer__listItem {
  margin-left: 15px;
  float: left;
}

.footer__heading {
  margin-bottom: 20px;
}

.sections-wrapper {
  display: block;
}

.sections-wrapper--hidden {
  display: none;
}
