* {
  box-sizing: border-box;
}

header, section, footer,
nav, article, figure {
  display: block;
}

body {
  font-size: 16px;
  color: #333;
  background: #fff;
  margin: 0;
}

h1 {
  font-family: 'Ledger', 'serif';
  font-weight: normal;
  font-size: 32px;
  color: #333;
}

[class^='col-'] {
  float: left;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333%;
}

.col-8 {
  width: 66.6666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333%;
}

.col-11 {
  width: 91.6666%;
}

.col-12 {
  width: 100%;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container--center {
  text-align: center;
}

.section {
  margin-top: 100px;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col {
  flex: 1;
}

.banner {
  background-color: #ceb172;
}

.navbar {
  float: right;
  padding: 25px;
}

.navbar__list {
  list-style: none;
  padding: 0;
}

.navbar__list__item {
  float: left;
}

.navbar__list__item__link {
  color: #333;
  text-decoration: none;
  border-radius: 20%;
  font-size: 20px;
  display: block;
  padding: 16px 20px 16px 20px;
  transition: all .15s ease-in;
}

.navbar__list__item__link:hover {
  background-color: #916c1f;
  color: #fff;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 25px;
    margin-bottom: 60px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

.card-panel {
  border: 1px solid #ceb172;
  font-family: 'Ubuntu', sans-serif;
}

.card-panel--no-border {
  border: none;
}

.card-panel:first-of-type {
  border-right: none;
}

.card-panel:nth-last-of-type(2) {
  border-right: none;
}

.card-panel__heading {
  font-size: 26px;
  font-weight: normal;
  font-family: 'Ledger', 'serif';
}

.card-panel__paragraph {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-bottom: 0;
  text-align: center;
  font-family: 'Ledger', 'serif';
  font-size: 15px;
  color: #afa895;
  padding-left: 10px;
  padding-right: 10px;
}

.card-panel__link {
  text-decoration: none;
  color: #ceb172;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.card-panel-link__icon {
  margin-left: 10px;
}
